# ==================== DJANGO CORE ====================
DEBUG=False
SECRET_KEY=
ALLOWED_HOSTS=localhost,127.0.0.1,uni-tracker.local
DJANGO_SETTINGS_MODULE=config.settings
LANGUAGE_CODE=ru
TIMEZONE=Europe/Moscow

# ==================== DATABASE ====================
DB_NAME=uni_tracker_db
DB_USER=tracker_admin
DB_PASSWORD=StrongPassword123!
DB_HOST=db
DB_PORT=5432

# ==================== REDIS & CELERY ====================
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# ==================== GUNICORN ====================
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120

# ==================== ADMIN =========
CREATE_SUPERUSER=true
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@university.ru
DJANGO_SUPERUSER_PASSWORD=admin_password_123

# ==================== EMAIL =============
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_HOST_USER=tracker@university.ru
EMAIL_HOST_PASSWORD=email_app_password
EMAIL_USE_SSL=True